body{
    margin: 0;
}

header{
    background: #eeeeee;
}

.headerInner{
    max-width: 650px;   /* 横幅 */
    height: 100px;  /* 高さ */
    margin: auto;   /* 真ん中にオート */
    display: flex;  /* お問い合わせが横に来る */
    justify-content: space-between; /* お問い合わせ系 */
    align-items: center;    /* お問い合わせ系 */
    padding: 0 20px
}

.mainInner{
    /* mainInner中の記述 */
    max-width: 650px;
    margin: auto;
    padding: 0 20px
}

footer{
    /* コピーライトの色 */
    background: #eeeeee;
}

.footerInner{
    /* コピーライトのところ */
    text-align: center;
    margin-top: 50px;
    padding: 30px;
}


/* キービジュアル(タイトルバナー)の画像をセンターにする */
.keyVisual{
    text-align: center;
}

.priceWrapper table,
.priceWrapper th,
.priceWrapper td{
    border-collapse: collapse;
    border: 1px solid black;
}

.priceWrapper th,
.priceWrapper td{
    padding: 7px;
}

.priceWrapper table{
    width: 100%;
}

.priceWrapper th{
    width: 150px;
    background: #eee;
}

/* h2タグ見出しに背景を画像にして、文字・文字色・センターなど変更 */
h2{
    background-image: url("./image/niconico_bg_blue.png");
    line-height: 50px;
    padding: 0 15px;
    color: #fff;
    text-align: center;
  }

  /* aboutwrapperとclearfixはセットで使っている */
  /* .aboutWrapperの拡張子imgのクラスを「float」画像の回り込み指定 */
.aboutWrapper img{
    float:left;
    margin-right: 10px;
}
/* 画像の回り込みが崩れるので「clearfix」をする */
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
